@tailwind base;
@tailwind components;
@tailwind utilities;

input,
textarea,
select {
  color: #757575;
}
@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a,
  li,
  label,
  button {
    @apply text-customText;
  }
}
/* Style ALerts */
/* to remove white space appearing */

ion-content {
  --keyboard-offset: 0 !important;
}

::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #12111F;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #98CE00;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #98CE00;
}
/* offset for iOS status Bar*/
.toolbar-ios {
  padding-top: env(safe-area-inset-top);
}

.header-ios {
  padding-top: env(safe-area-inset-top);
}

#hs-mainBlack {
  padding-top: env(safe-area-inset-top);
  background: #141414;
}

#hs-mainGrey {
  padding-top: env(safe-area-inset-top);
  background: #2b2d31;
}

#menu-header {
  background: #141414;
}

#menu-header-grey {
  background: #2b2d31;
}
.react-tel-input .country-list .country.highlight {
  font-weight: bold;
}
.react-tel-input .country-list .country .dial-code {
  color: black;
}
.react-tel-input .country-list .country {
  color: black;
}
.country-list{
  position: relative;
  top: -240px;
}